<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Paiements</title>

    <link href="{{ asset('admin/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('admin/css/datepicker3.css') }}" rel="stylesheet">
    <link href="{{ asset('admin/css/styles.css') }}" rel="stylesheet">

    <!--Icons-->
    <script src="{{ asset('admin/js/lumino.glyphs.js') }}"></script>

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span>Admin Board</span></a>
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <svg class="glyph stroked male-user">
                            <use xlink:href="#stroked-male-user"></use>
                        </svg> {{ app.user.username | capitalize }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">
                                <svg class="glyph stroked male-user">
                                    <use xlink:href="#stroked-male-user"></use>
                                </svg>
                                Profile</a></li>
                        <li><a href="#">
                                <svg class="glyph stroked gear">
                                    <use xlink:href="#stroked-gear"></use>
                                </svg>
                                Settings</a></li>
                        <li><a href="#">
                                <svg class="glyph stroked cancel">
                                    <use xlink:href="#stroked-cancel"></use>
                                </svg>
                                Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div><!-- /.container-fluid -->
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <ul class="nav menu">
        <!-- Drawer Moez -->
        <li><a href="{{ path("liste_paiements") }}">
                <svg class="glyph stroked table">
                    <use xlink:href="#stroked-table"></use>
                </svg>
                Paiements</a></li>
        <li><a href="{{ path("statistiques") }}">
                <svg class="glyph stroked table">
                    <use xlink:href="#stroked-table"></use>
                </svg>
                Statistiques paiements</a></li>
        <li><a href="{{ path("lister_types_articles") }}">
                <svg class="glyph stroked table">
                    <use xlink:href="#stroked-table"></use>
                </svg>
                Types d'articles</a></li>
        <li><a href="{{ path("ajouter_article") }}">
                <svg class="glyph stroked pencil">
                    <use xlink:href="#stroked-pencil"></use>
                </svg>
                Ajouter type article</a></li>
        <!-- End Drawer Moez -->
    </ul>

</div><!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Paiements des utilisateurs</h1>
        </div>
    </div><!--/.row-->
    <!-- Table d'affichage des paiements des utilisateurs -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">{#Advanced Table#}</div>
                <div class="panel-body">
                    <!-- Table Affichage des paiements -->
                    <div class="card hidden-xs hidden-sm text-center right-container">
                        <!-- New Code -->
                        <div class="col-sm-6 col-lg-6 col-sm-offset-3 col-lg-offset-3">
                            <h3>Recherche</h3>
                            <input type="text" name="searchID" id="searchID" placeholder="Recherche par ID"
                                   class="form-control"/>
                            <br/>
                            <input type="text" name="searchFreelancer" id="searchFreelancer"
                                   placeholder="Username Freelancer"
                                   class="form-control"/>
                            <br/>
                            <input type="text" name="searchEmployeur" id="searchEmployeur"
                                   placeholder="Username Employeur"
                                   class="form-control"/>
                            <br/>
                            <input type="text" name="searchProjet" id="searchProjet"
                                   placeholder="Projet"
                                   class="form-control"/>
                            <br/>
                            {#<label id="slider_min_value">Montant Minimal</label>
                            <input type="range" id="sliderMin" value="5000" min="0" max="5000" step="10"/>
                            <br/>#}
                            <label id="slider_max_value">Montant Maximal</label>
                            <input type="range" id="sliderMax" value="0" min="0" max="1000" step="10"/>
                            <br/>
                            <input type="date" id="dateDebut"/>
                            <h3>Liste des paiements</h3>
                        </div>
                    </div>
                    <div id="result" name="result">
                        <!-- End New Code -->
                        <!-- Old Code -->
                        <div id="paiementsNonRecherche">
                            <div class="card-body">
                                <table class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <td>ID</td>
                                        <td>Date Heure</td>
                                        <td>Montant</td>
                                        <td>Employeur</td>
                                        <td>Freelancer</td>
                                        <td>Nom Projet</td>
                                        <td>Action</td>
                                        <td>Facture</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for pay in paiements %}
                                        <tr>
                                            <td>{{ pay.idPaiement }}</td>
                                            <td>{{ pay.dateHeurePaiement | date('Y-m-d H:i:s') }}</td>
                                            <td>{{ pay.montant }}</td>
                                            <td>
                                                <a href="{{ path('user_details', {'id' : pay.employeur.id }) }}">{{ pay.employeur.username }}</a>
                                            </td>
                                            <td>
                                                <a href="{{ path('user_details', {'id' : pay.freelancer.id }) }}">{{ pay.freelancer.username }}</a>
                                            </td>
                                            <td>
                                                <a href="{{ path('details_projet', {'id' : pay.Projet.idprojet}) }}">{{ pay.projet.titreProjet }}</a>
                                            </td>
                                            <td>
                                                <a href="{{ path('supprimer_paiement', {'id' : pay.idPaiement}) }}">
                                                    <button type="button" class="btn btn-warning" data-toggle="tooltip"
                                                            data-placement="top" title="Annuler paiement">Rembour.
                                                    </button>
                                                </a>
                                            </td>
                                            <td><a target="_blank" href="{{ path('facture', {'id':pay.idPaiement}) }}">
                                                    <button type="button" class="btn btn-success" data-toggle="tooltip"
                                                            data-placement="top" title="Facture">Facture
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- End Old Code -->
                    </div>
                    <!-- End Table Affichage des paiements -->
                </div>
            </div>
        </div>
    </div><!--/.row-->
    <!-- End Table d'affichage des paiements des utilisateurs -->
</div>
{#Recherche#}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    //Format de la date
    function formatDate(date) {
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var ampm = hours >= 12 ? 'pm' : 'am';
        hours = hours % 12;
        hours = hours ? hours : 12; // the hour '0' should be '12'
        minutes = minutes < 10 ? '0' + minutes : minutes;
        var strTime = hours + ':' + minutes + ' ' + ampm;
        return date.getMonth() + 1 + "/" + date.getDate() + "/" + date.getFullYear() + "  " + strTime;
    }

    $(document).ready(function () {
        //Recherche avec ID:
        $("#searchID").on('keyup', function (e) {
            let input = $(this).val();
            if (input != '') {
                $.ajax({
                    async: true,
                    url: "{{ path( 'search_paiements_admin_id') }}",
                    method: "GET",
                    data: {search: input},
                    success: function (response) {
                        $('#result').empty();
                        var table = "<table class=\"table table-striped table-hover\">\n" +
                            "                                    <thead>\n" +
                            "                                    <tr>\n" +
                            "                                        <td>ID</td>\n" +
                            "                                        <td>Date Heure</td>\n" +
                            "                                        <td>Montant</td>\n" +
                            "                                        <td>Freelancer</td>\n" +
                            "                                        <td>Employeur</td>\n" +
                            "                                        <td>Nom Projet</td>\n" +
                            "                                        <td>Action</td>\n" +
                            "                                        <td>Facture</td>\n" +
                            "                                    </tr>\n" +
                            "                                    </thead>\n" +
                            "                                    <tbody>";
                        $.each(response, function (i) {
                            //Format Date
                            var d = new Date(response[i].dateHeurePaiement.date);
                            var formattedDate = formatDate(d);
                            //Format Lien Freelancer
                            var pathFreelancer = "{{ path('user_details', {'id': '__ID__'}) }}";
                            pathFreelancer = pathFreelancer.replace("__ID__", response[i].freelancer.id);
                            var freelancerLink = "<a href=" + pathFreelancer + ">";

                            //Format Lien Employeur
                            var pathEmployeur = "{{ path('user_details', {'id': '__ID__'}) }}";
                            pathEmployeur = pathEmployeur.replace("__ID__", response[i].employeur.id);
                            var employeurLink = "<a href=" + pathEmployeur + ">";

                            //Format Lien Projet
                            var pathProjet = "{{ path('details_projet', {'id': '__ID__'}) }}";
                            pathProjet = pathProjet.replace("__ID__", response[i].projet.idprojet);
                            var projetLink = "<a href=" + pathProjet + ">";

                            //Format Bouton Rembourser
                            var pathRembourser = "{{ path('supprimer_paiement', {'id': '__ID__'}) }}";
                            pathRembourser = pathRembourser.replace("__ID__", response[i].idPaiement);
                            var rembourserLink = "<a href=" + pathRembourser + ">";

                            //Format Bouton Facture
                            var pathFacture = "{{ path('facture', {'id': '__ID__'}) }}";
                            pathFacture = pathFacture.replace("__ID__", response[i].idPaiement);
                            var factureLink = "<a target='_blank' href=" + pathFacture + ">";

                            table += "<tr>";
                            table += "<td>" + response[i].idPaiement + "</td>";
                            table += "<td>" + formattedDate + "</td>";
                            table += "<td>" + response[i].montant + "</td>";
                            table += "<td>" + freelancerLink + response[i].freelancer.username + "</a></td>";
                            table += "<td>" + employeurLink + response[i].employeur.username + "</a></td>";
                            table += "<td>" + projetLink + response[i].projet.titreProjet + "</td>";
                            table += "<td>" + rembourserLink + "<button type=\"button\" class=\"btn btn-warning\" data-toggle=\"tooltip\"\n" +
                                "                            data-placement=\"top\" title=\"Annuler paiement\">Rembour.\n" +
                                "                                </button>\n" +
                                "                                </a>" + "</td>";
                            table += "<td>" + factureLink + "<button type=\"button\" class=\"btn btn-success\" data-toggle=\"tooltip\"\n" +
                                "                                                            data-placement=\"top\" title=\"Facture\">Facture\n" +
                                "                                                    </button></a></td>";
                            table += "</tr>";
                        });
                        table += "</tbody></table>";
                        $('#result').html(table);
                        $('#result').show();
                        table = "";
                    }
                });
                $("#paiementsNonRecherche").hide();
            } else if (input == '') {
                $("#paiementsNonRecherche").show();
                $('#result').hide();
            }
        });

        //Recherche avec le username de l'employeur
        $("#searchEmployeur").on('keyup', function (e) {
            let input = $(this).val();
            if (input != '') {
                $.ajax({
                    async: true,
                    url: "{{ path( 'search_paiements_admin_employeur') }}",
                    method: "GET",
                    data: {searchEmp: input},
                    success: function (response) {
                        $('#result').empty();
                        var table = "<table class=\"table table-striped table-hover\">\n" +
                            "                                    <thead>\n" +
                            "                                    <tr>\n" +
                            "                                        <td>ID</td>\n" +
                            "                                        <td>Date Heure</td>\n" +
                            "                                        <td>Montant</td>\n" +
                            "                                        <td>Freelancer</td>\n" +
                            "                                        <td>Employeur</td>\n" +
                            "                                        <td>Nom Projet</td>\n" +
                            "                                        <td>Action</td>\n" +
                            "                                        <td>Facture</td>\n" +
                            "                                    </tr>\n" +
                            "                                    </thead>\n" +
                            "                                    <tbody>";
                        $.each(response, function (i) {
                            //Format Date
                            var d = new Date(response[i].dateHeurePaiement.date);
                            var formattedDate = formatDate(d);
                            //Format Lien Freelancer
                            var pathFreelancer = "{{ path('user_details', {'id': '__ID__'}) }}";
                            pathFreelancer = pathFreelancer.replace("__ID__", response[i].freelancer.id);
                            var freelancerLink = "<a href=" + pathFreelancer + ">";

                            //Format Lien Employeur
                            var pathEmployeur = "{{ path('user_details', {'id': '__ID__'}) }}";
                            pathEmployeur = pathEmployeur.replace("__ID__", response[i].employeur.id);
                            var employeurLink = "<a href=" + pathEmployeur + ">";

                            //Format Lien Projet
                            var pathProjet = "{{ path('details_projet', {'id': '__ID__'}) }}";
                            pathProjet = pathProjet.replace("__ID__", response[i].projet.idprojet);
                            var projetLink = "<a href=" + pathProjet + ">";

                            //Format Bouton Rembourser
                            var pathRembourser = "{{ path('supprimer_paiement', {'id': '__ID__'}) }}";
                            pathRembourser = pathRembourser.replace("__ID__", response[i].idPaiement);
                            var rembourserLink = "<a href=" + pathRembourser + ">";

                            //Format Bouton Facture
                            var pathFacture = "{{ path('facture', {'id': '__ID__'}) }}";
                            pathFacture = pathFacture.replace("__ID__", response[i].idPaiement);
                            var factureLink = "<a target='_blank' href=" + pathFacture + ">";

                            table += "<tr>";
                            table += "<td>" + response[i].idPaiement + "</td>";
                            table += "<td>" + formattedDate + "</td>";
                            table += "<td>" + response[i].montant + "</td>";
                            table += "<td>" + freelancerLink + response[i].freelancer.username + "</a></td>";
                            table += "<td>" + employeurLink + response[i].employeur.username + "</a></td>";
                            table += "<td>" + projetLink + response[i].projet.titreProjet + "</td>";
                            table += "<td>" + rembourserLink + "<button type=\"button\" class=\"btn btn-warning\" data-toggle=\"tooltip\"\n" +
                                "                            data-placement=\"top\" title=\"Annuler paiement\">Rembour.\n" +
                                "                                </button>\n" +
                                "                                </a>" + "</td>";
                            table += "<td>" + factureLink + "<button type=\"button\" class=\"btn btn-success\" data-toggle=\"tooltip\"\n" +
                                "                                                            data-placement=\"top\" title=\"Facture\">Facture\n" +
                                "                                                    </button></a></td>";
                            table += "</tr>";
                        });
                        table += "</tbody></table>";
                        $('#result').html(table);
                        $('#result').show();
                        table = "";
                    }
                });
                $("#paiementsNonRecherche").hide();
            } else if (input == '') {
                $("#paiementsNonRecherche").show();
                $('#result').hide();
            }
        });
        //Recherche avec le username du Freelancer
        $("#searchFreelancer").on('keyup', function (e) {
            let input = $(this).val();
            console.log(input);
            if (input != '') {
                $.ajax({
                    async: true,
                    url: "{{ path( 'search_paiements_admin_freelancer') }}",
                    method: "GET",
                    data: {searchFree: input},
                    success: function (response) {
                        $('#result').empty();
                        var table = "<table class=\"table table-striped table-hover\">\n" +
                            "                                    <thead>\n" +
                            "                                    <tr>\n" +
                            "                                        <td>ID</td>\n" +
                            "                                        <td>Date Heure</td>\n" +
                            "                                        <td>Montant</td>\n" +
                            "                                        <td>Freelancer</td>\n" +
                            "                                        <td>Employeur</td>\n" +
                            "                                        <td>Nom Projet</td>\n" +
                            "                                        <td>Action</td>\n" +
                            "                                        <td>Facture</td>\n" +
                            "                                    </tr>\n" +
                            "                                    </thead>\n" +
                            "                                    <tbody>";
                        $.each(response, function (i) {
                            //Format Date
                            var d = new Date(response[i].dateHeurePaiement.date);
                            var formattedDate = formatDate(d);
                            //Format Lien Freelancer
                            var pathFreelancer = "{{ path('user_details', {'id': '__ID__'}) }}";
                            pathFreelancer = pathFreelancer.replace("__ID__", response[i].freelancer.id);
                            var freelancerLink = "<a href=" + pathFreelancer + ">";

                            //Format Lien Employeur
                            var pathEmployeur = "{{ path('user_details', {'id': '__ID__'}) }}";
                            pathEmployeur = pathEmployeur.replace("__ID__", response[i].employeur.id);
                            var employeurLink = "<a href=" + pathEmployeur + ">";

                            //Format Lien Projet
                            var pathProjet = "{{ path('details_projet', {'id': '__ID__'}) }}";
                            pathProjet = pathProjet.replace("__ID__", response[i].projet.idprojet);
                            var projetLink = "<a href=" + pathProjet + ">";

                            //Format Bouton Rembourser
                            var pathRembourser = "{{ path('supprimer_paiement', {'id': '__ID__'}) }}";
                            pathRembourser = pathRembourser.replace("__ID__", response[i].idPaiement);
                            var rembourserLink = "<a href=" + pathRembourser + ">";

                            //Format Bouton Facture
                            var pathFacture = "{{ path('facture', {'id': '__ID__'}) }}";
                            pathFacture = pathFacture.replace("__ID__", response[i].idPaiement);
                            var factureLink = "<a target='_blank' href=" + pathFacture + ">";

                            table += "<tr>";
                            table += "<td>" + response[i].idPaiement + "</td>";
                            table += "<td>" + formattedDate + "</td>";
                            table += "<td>" + response[i].montant + "</td>";
                            table += "<td>" + freelancerLink + response[i].freelancer.username + "</a></td>";
                            table += "<td>" + employeurLink + response[i].employeur.username + "</a></td>";
                            table += "<td>" + projetLink + response[i].projet.titreProjet + "</td>";
                            table += "<td>" + rembourserLink + "<button type=\"button\" class=\"btn btn-warning\" data-toggle=\"tooltip\"\n" +
                                "                            data-placement=\"top\" title=\"Annuler paiement\">Rembour.\n" +
                                "                                </button>\n" +
                                "                                </a>" + "</td>";
                            table += "<td>" + factureLink + "<button type=\"button\" class=\"btn btn-success\" data-toggle=\"tooltip\"\n" +
                                "                                                            data-placement=\"top\" title=\"Facture\">Facture\n" +
                                "                                                    </button></a></td>";
                            table += "</tr>";
                        });
                        table += "</tbody></table>";
                        $('#result').html(table);
                        $('#result').show();
                        table = "";
                    }
                });
                $("#paiementsNonRecherche").hide();
            } else if (input == '') {
                $("#paiementsNonRecherche").show();
                $('#result').hide();
            }
        });
        //Recherche avec le nom du projet
        $("#searchProjet").on('keyup', function (e) {
            let input = $(this).val();
            console.log(input);
            if (input != '') {
                $.ajax({
                    async: true,
                    url: "{{ path( 'search_paiements_admin_projet') }}",
                    method: "GET",
                    data: {searchProj: input},
                    success: function (response) {
                        $('#result').empty();
                        var table = "<table class=\"table table-striped table-hover\">\n" +
                            "                                    <thead>\n" +
                            "                                    <tr>\n" +
                            "                                        <td>ID</td>\n" +
                            "                                        <td>Date Heure</td>\n" +
                            "                                        <td>Montant</td>\n" +
                            "                                        <td>Freelancer</td>\n" +
                            "                                        <td>Employeur</td>\n" +
                            "                                        <td>Nom Projet</td>\n" +
                            "                                        <td>Action</td>\n" +
                            "                                        <td>Facture</td>\n" +
                            "                                    </tr>\n" +
                            "                                    </thead>\n" +
                            "                                    <tbody>";
                        $.each(response, function (i) {
                            //Format Date
                            var d = new Date(response[i].dateHeurePaiement.date);
                            var formattedDate = formatDate(d);
                            //Format Lien Freelancer
                            var pathFreelancer = "{{ path('user_details', {'id': '__ID__'}) }}";
                            pathFreelancer = pathFreelancer.replace("__ID__", response[i].freelancer.id);
                            var freelancerLink = "<a href=" + pathFreelancer + ">";

                            //Format Lien Employeur
                            var pathEmployeur = "{{ path('user_details', {'id': '__ID__'}) }}";
                            pathEmployeur = pathEmployeur.replace("__ID__", response[i].employeur.id);
                            var employeurLink = "<a href=" + pathEmployeur + ">";

                            //Format Lien Projet
                            var pathProjet = "{{ path('details_projet', {'id': '__ID__'}) }}";
                            pathProjet = pathProjet.replace("__ID__", response[i].projet.idprojet);
                            var projetLink = "<a href=" + pathProjet + ">";

                            //Format Bouton Rembourser
                            var pathRembourser = "{{ path('supprimer_paiement', {'id': '__ID__'}) }}";
                            pathRembourser = pathRembourser.replace("__ID__", response[i].idPaiement);
                            var rembourserLink = "<a href=" + pathRembourser + ">";

                            //Format Bouton Facture
                            var pathFacture = "{{ path('facture', {'id': '__ID__'}) }}";
                            pathFacture = pathFacture.replace("__ID__", response[i].idPaiement);
                            var factureLink = "<a target='_blank' href=" + pathFacture + ">";

                            table += "<tr>";
                            table += "<td>" + response[i].idPaiement + "</td>";
                            table += "<td>" + formattedDate + "</td>";
                            table += "<td>" + response[i].montant + "</td>";
                            table += "<td>" + freelancerLink + response[i].freelancer.username + "</a></td>";
                            table += "<td>" + employeurLink + response[i].employeur.username + "</a></td>";
                            table += "<td>" + projetLink + response[i].projet.titreProjet + "</td>";
                            table += "<td>" + rembourserLink + "<button type=\"button\" class=\"btn btn-warning\" data-toggle=\"tooltip\"\n" +
                                "                            data-placement=\"top\" title=\"Annuler paiement\">Rembour.\n" +
                                "                                </button>\n" +
                                "                                </a>" + "</td>";
                            table += "<td>" + factureLink + "<button type=\"button\" class=\"btn btn-success\" data-toggle=\"tooltip\"\n" +
                                "                                                            data-placement=\"top\" title=\"Facture\">Facture\n" +
                                "                                                    </button></a></td>";
                            table += "</tr>";
                        });
                        table += "</tbody></table>";
                        $('#result').html(table);
                        $('#result').show();
                        table = "";
                    }
                });
                $("#paiementsNonRecherche").hide();
            } else if (input == '') {
                $("#paiementsNonRecherche").show();
                $('#result').hide();
            }
        });


        $("#sliderMax").on('change', function (e) {
            let inputMax = $(this).val();
            /*$("#sliderMin").attr({
                "max": inputMax
            });*/
            $("#slider_max_value").text("Montant maximal : " + inputMax);

            if (inputMax != 0) {
                $.ajax({
                    async: true,
                    url: "{{ path( 'search_paiements_admin_montant') }}",
                    method: "GET",
                    data: {montantMax: inputMax},
                    success: function (response) {
                        $('#result').empty();
                        var table = "<table class=\"table table-striped table-hover\">\n" +
                            "                                    <thead>\n" +
                            "                                    <tr>\n" +
                            "                                        <td>ID</td>\n" +
                            "                                        <td>Date Heure</td>\n" +
                            "                                        <td>Montant</td>\n" +
                            "                                        <td>Freelancer</td>\n" +
                            "                                        <td>Employeur</td>\n" +
                            "                                        <td>Nom Projet</td>\n" +
                            "                                        <td>Action</td>\n" +
                            "                                        <td>Facture</td>\n" +
                            "                                    </tr>\n" +
                            "                                    </thead>\n" +
                            "                                    <tbody>";
                        $.each(response, function (i) {
                            //Format Date
                            var d = new Date(response[i].dateHeurePaiement.date);
                            var formattedDate = formatDate(d);
                            //Format Lien Freelancer
                            var pathFreelancer = "{{ path('user_details', {'id': '__ID__'}) }}";
                            pathFreelancer = pathFreelancer.replace("__ID__", response[i].freelancer.id);
                            var freelancerLink = "<a href=" + pathFreelancer + ">";

                            //Format Lien Employeur
                            var pathEmployeur = "{{ path('user_details', {'id': '__ID__'}) }}";
                            pathEmployeur = pathEmployeur.replace("__ID__", response[i].employeur.id);
                            var employeurLink = "<a href=" + pathEmployeur + ">";

                            //Format Lien Projet
                            var pathProjet = "{{ path('details_projet', {'id': '__ID__'}) }}";
                            pathProjet = pathProjet.replace("__ID__", response[i].projet.idprojet);
                            var projetLink = "<a href=" + pathProjet + ">";

                            //Format Bouton Rembourser
                            var pathRembourser = "{{ path('supprimer_paiement', {'id': '__ID__'}) }}";
                            pathRembourser = pathRembourser.replace("__ID__", response[i].idPaiement);
                            var rembourserLink = "<a href=" + pathRembourser + ">";

                            //Format Bouton Facture
                            var pathFacture = "{{ path('facture', {'id': '__ID__'}) }}";
                            pathFacture = pathFacture.replace("__ID__", response[i].idPaiement);
                            var factureLink = "<a target='_blank' href=" + pathFacture + ">";

                            table += "<tr>";
                            table += "<td>" + response[i].idPaiement + "</td>";
                            table += "<td>" + formattedDate + "</td>";
                            table += "<td>" + response[i].montant + "</td>";
                            table += "<td>" + freelancerLink + response[i].freelancer.username + "</a></td>";
                            table += "<td>" + employeurLink + response[i].employeur.username + "</a></td>";
                            table += "<td>" + projetLink + response[i].projet.titreProjet + "</td>";
                            table += "<td>" + rembourserLink + "<button type=\"button\" class=\"btn btn-warning\" data-toggle=\"tooltip\"\n" +
                                "                            data-placement=\"top\" title=\"Annuler paiement\">Rembour.\n" +
                                "                                </button>\n" +
                                "                                </a>" + "</td>";
                            table += "<td>" + factureLink + "<button type=\"button\" class=\"btn btn-success\" data-toggle=\"tooltip\"\n" +
                                "                                                            data-placement=\"top\" title=\"Facture\">Facture\n" +
                                "                                                    </button></a></td>";
                            table += "</tr>";
                        });
                        table += "</tbody></table>";
                        $('#result').html(table);
                        $('#result').show();
                        table = "";
                    }
                });
                $("#paiementsNonRecherche").hide();
            } else if (inputMax == 0) {
                $("#paiementsNonRecherche").show();
                $('#result').hide();
            }
        });

        $("#dateDebut").on('change', function (e) {
            let input = $(this).val();
            if (input != '') {
                $.ajax({
                    async: true,
                    url: "{{ path( 'search_paiements_admin_date') }}",
                    method: "GET",
                    data: {dateDebut: input},
                    success: function (response) {
                        $('#result').empty();
                        var table = "<table class=\"table table-striped table-hover\">\n" +
                            "                                    <thead>\n" +
                            "                                    <tr>\n" +
                            "                                        <td>ID</td>\n" +
                            "                                        <td>Date Heure</td>\n" +
                            "                                        <td>Montant</td>\n" +
                            "                                        <td>Freelancer</td>\n" +
                            "                                        <td>Employeur</td>\n" +
                            "                                        <td>Nom Projet</td>\n" +
                            "                                        <td>Action</td>\n" +
                            "                                        <td>Facture</td>\n" +
                            "                                    </tr>\n" +
                            "                                    </thead>\n" +
                            "                                    <tbody>";
                        $.each(response, function (i) {
                            //Format Date
                            var d = new Date(response[i].dateHeurePaiement.date);
                            var formattedDate = formatDate(d);
                            //Format Lien Freelancer
                            var pathFreelancer = "{{ path('user_details', {'id': '__ID__'}) }}";
                            pathFreelancer = pathFreelancer.replace("__ID__", response[i].freelancer.id);
                            var freelancerLink = "<a href=" + pathFreelancer + ">";

                            //Format Lien Employeur
                            var pathEmployeur = "{{ path('user_details', {'id': '__ID__'}) }}";
                            pathEmployeur = pathEmployeur.replace("__ID__", response[i].employeur.id);
                            var employeurLink = "<a href=" + pathEmployeur + ">";

                            //Format Lien Projet
                            var pathProjet = "{{ path('details_projet', {'id': '__ID__'}) }}";
                            pathProjet = pathProjet.replace("__ID__", response[i].projet.idprojet);
                            var projetLink = "<a href=" + pathProjet + ">";

                            //Format Bouton Rembourser
                            var pathRembourser = "{{ path('supprimer_paiement', {'id': '__ID__'}) }}";
                            pathRembourser = pathRembourser.replace("__ID__", response[i].idPaiement);
                            var rembourserLink = "<a href=" + pathRembourser + ">";

                            //Format Bouton Facture
                            var pathFacture = "{{ path('facture', {'id': '__ID__'}) }}";
                            pathFacture = pathFacture.replace("__ID__", response[i].idPaiement);
                            var factureLink = "<a target='_blank' href=" + pathFacture + ">";

                            table += "<tr>";
                            table += "<td>" + response[i].idPaiement + "</td>";
                            table += "<td>" + formattedDate + "</td>";
                            table += "<td>" + response[i].montant + "</td>";
                            table += "<td>" + freelancerLink + response[i].freelancer.username + "</a></td>";
                            table += "<td>" + employeurLink + response[i].employeur.username + "</a></td>";
                            table += "<td>" + projetLink + response[i].projet.titreProjet + "</td>";
                            table += "<td>" + rembourserLink + "<button type=\"button\" class=\"btn btn-warning\" data-toggle=\"tooltip\"\n" +
                                "                            data-placement=\"top\" title=\"Annuler paiement\">Rembour.\n" +
                                "                                </button>\n" +
                                "                                </a>" + "</td>";
                            table += "<td>" + factureLink + "<button type=\"button\" class=\"btn btn-success\" data-toggle=\"tooltip\"\n" +
                                "                                                            data-placement=\"top\" title=\"Facture\">Facture\n" +
                                "                                                    </button></a></td>";
                            table += "</tr>";
                        });
                        table += "</tbody></table>";
                        $('#result').html(table);
                        $('#result').show();
                        table = "";
                    }
                });
                $("#paiementsNonRecherche").hide();
            } else if (input == '') {
                $("#paiementsNonRecherche").show();
                $('#result').hide();
            }
        });
    });


</script>
{#End Recherche#}
<script>
    $(function () {
        $('#hover, #striped, #condensed').click(function () {
            var classes = 'table';

            if ($('#hover').prop('checked')) {
                classes += ' table-hover';
            }
            if ($('#condensed').prop('checked')) {
                classes += ' table-condensed';
            }
            $('#table-style').bootstrapTable('destroy')
                .bootstrapTable({
                    classes: classes,
                    striped: $('#striped').prop('checked')
                });
        });
    });

    function rowStyle(row, index) {
        var classes = ['active', 'success', 'info', 'warning', 'danger'];

        if (index % 2 === 0 && index / 2 < classes.length) {
            return {
                classes: classes[index / 2]
            };
        }
        return {};
    }
</script>

<script>
    !function ($) {
        $(document).on("click", "ul.nav li.parent > a > span.icon", function () {
            $(this).find('em:first').toggleClass("glyphicon-minus");
        });
        $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
    }(window.jQuery);

    $(window).on('resize', function () {
        if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
    })
    $(window).on('resize', function () {
        if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
    })
</script>
