<!DOCTYPE html>
<html lang="en">
<head>
    <title>Unicat</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Unicat project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/bootstrap4/bootstrap.min.css') }}">
    <link href="{{ asset('plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css"   href="{{ asset('plugins/OwlCarousel2-2.2.1/owl.carousel.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/OwlCarousel2-2.2.1/owl.theme.default.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/OwlCarousel2-2.2.1/animate.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/main_styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/responsive.css') }}">
</head>
<body>

<div class="super_container">

    <!-- Header -->

    <header class="header">
        <div class="top_bar bg-white">
            <div class="top_bar_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
                                <ul class="top_bar_contact_list">

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% block header %}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <!-- Header Content -->
                <div class="header_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="header_content d-flex flex-row align-items-center justify-content-start">
                                    <div class="logo_container">
                                        <!--  <a href="#">
                                              <div class="logo_text">Unic<span>at</span></div>
                                          </a>-->
                                        <img src="{{ asset('images/thinklance2.png') }}" height="60" width="150">
                                    </div>
                                    <nav class="main_nav_contaner ml-auto">
                                        <ul class="main_nav">
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Les événements à participer</a>
                                                <div class="dropdown-menu">
                                                    {% set x =0 %}
                                                    {% for e in evenements %}
                                                        {% for p in participer %}
                                                            {% if p.iduser==app.user and p.idevent==e %}
                                                                <a class="dropdown-item" href="{{ path('read2',{'id':e.id}) }}" >{{ e.nom }} </a>
                                                                {% set x=1 %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endfor %}
                                                    {% if x==0 %}
                                                        <a class="dropdown-item" >Pas d'événement. </a>

                                                    {% endif %}

                                                </div>
                                            </li>
                                            <li>
                                                <a href="{{ path('fos_user_profile_show') }}">{{ app.user.username | capitalize }}</a>
                                            </li>
                                            <li class="active"><a href="{{ path('auth_homepage') }}">Accueil</a></li>
                                            {#<li><a href="about.html">About</a></li>
                                            <li><a href="courses.html">Courses</a></li>
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="#">Page</a></li>
                                            <li><a href="contact.html">Contact</a></li>#}
                                            <li><a href="{{ path('fos_user_security_logout') }}">
                                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                                </a>
                                            </li>

                                        </ul>

                                        {#<div class="search_button"><i class="fa fa-search" aria-hidden="true"></i></div>#}
                                        <!-- Hamburger -->
                                        <div class="hamburger menu_mm">
                                            <i class="fa fa-bars menu_mm" aria-hidden="true"></i>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Header Content -->
            {% else %}
                <!-- Header Content -->
                <div class="header_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="header_content d-flex flex-row align-items-center justify-content-start">
                                    <div class="logo_container">
                                        <!--  <a href="#">
                                              <div class="logo_text">Unic<span>at</span></div>
                                          </a>-->
                                        <img src="{{ asset('images/thinklance2.png') }}" height="60" width="150">
                                    </div>
                                    <nav class="main_nav_contaner ml-auto">
                                        <ul class="main_nav">
                                            <li class="active"><a href="{{ path('auth_homepage') }}">Accueil</a></li>
                                            {#<li><a href="about.html">About</a></li>
                                            <li><a href="courses.html">Courses</a></li>
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="#">Page</a></li>
                                            <li><a href="contact.html">Contact</a></li>#}
                                            <li><a href="{{ path('fos_user_registration_register') }}" {#data-toggle="modal" #}
                                                   data-target="#exampleModalCenter2">S'inscrire</a></li>

                                            <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                            </li>
                                        </ul>
                                        <div class="search_button"><i class="fa fa-search" aria-hidden="true"></i></div>
                                        <!-- Hamburger -->
                                        <div class="hamburger menu_mm">
                                            <i class="fa fa-bars menu_mm" aria-hidden="true"></i>
                                        </div>
                                    </nav>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Header Content -->
            {% endif %}
        {% endblock %}
        <!-- Header Search Panel -->
        {#        <div class="header_search_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="header_search_content d-flex flex-row align-items-center justify-content-end">
                                    <form action="#" class="header_search_form">
                                        <input type="search" class="search_input" placeholder="Search" required="required">
                                        <button class="header_search_button d-flex flex-column align-items-center justify-content-center">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>#}
    </header>
      <!-- Home Slider Item -->


        <!-- Home Slider Nav -->

        <div class="home_slider_nav home_slider_prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
        <div class="home_slider_nav home_slider_next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
    </div>

    <!-- Features -->



    <!-- Events -->
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

    <div class="events">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title_container text-center">
                        <h2 class="section_title">Upcoming events</h2>

                </div>
            </div>
            <center>
            <form style="width:400px" class="input-group mb-3" action="{{ path('index') }}" method="get">
                <input class="form-control" name="filter" type="text" placeholder="Recherche par categorie" >
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary">Rechercher</button>
                <a href="read.html.twig"  >  <button  class="btn btn-outline-secondary">Retour</button> </a>

                </div>
            </form>
            </center>
            <script> var x=0;</script>

            <div class="row events_row">
                {% for e in evenements %}
                <!-- Event -->

                        <style>
                            i1{ color: deepskyblue; }
                        </style>

                <div class="col-lg-4 event_col">
                    <div class="event event_left">
                        <div class="event_image"> <img  src="{{ asset('images/') }}{{ e.nomImage }}" height="200px" width="350px" ></div>
                        <div class="event_body d-flex flex-row align-items-start justify-content-start">
                            <div class="event_date">
                                <div class="d-flex flex-column align-items-center justify-content-center trans_200">
                                    <div class="event_day trans_200">{{ e.dateDebut|date('d') }}</div>
                                    <div class="event_month trans_200">{{ e.dateDebut|date('m') }}</div>
                                </div>
                            </div>
                            <div class="event_content">
                                <div class="event_title"><a href="{{ path('read2',{'id':e.id}) }}">{{ e.nom }} ( {{ e.idCategorie.nom }} )</a></div>
                                <div class="event_info_container">
                                    <div class="event_info"><i class="fa fa-clock-o" aria-hidden="true"></i><span>{{ e.dateDebut|date('Y-m-d') }} - {{ e.dateFin|date('Y-m-d') }}</span></div>
                                    {% if e.nbrPlace>0 %}
                                    <div class="event_info"><i1 class="fa fa-user" aria-hidden="true">{{ e.nbrPlace }}</i1><span></span></div>
                                    {% endif %}


                                    <div class="event_info"><a href="https://www.google.com/maps/search/{{ e.lieu }}"> <i class="fa fa-map-marker" aria-hidden="true"></i><span> {{ e.lieu }}</span></a></div>
                                    <div class="course_price ml-auto">{{ e.prix }}DT</div>
                                    <div class="event_text">
                                        <p>{{ e.description }}</p>
                                    </div>
                                    {% if app.user==e.idAdmin %}
                                    <a href="{{ path('update',{'id':e.id}) }}" > <i class="fa fa-edit"> Edit</i> </a>
                                    <br>
                                    <a href="{{ path('delete',{'id':e.id}) }}" > <i class="fa fa-trash"> Delete</i></a>


                                    {% elseif (e.nbrPlace>0)  %}
                                        {% set x =0%}
                                        {% for p in participer %}
                                            {% if p.iduser==app.user and p.idevent==e %}
                                                <h5 id="18"> Déjà inscrit</h5>
<style>
 h5{
     color: green;
 }
</style>
                                                {% set x = 1 %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if x==0 %}
                                    <a  href="{{ path('participer',{'id':e.id}) }}" ><button type="button" id="id1"
                                                                                                      >
                                            Participer</button> </a>
                                            <style>
                                                button{
                                                   background-color : deepskyblue;
                                                    color : white;

                                                }
                                            </style>
                                            {% endif %}
                                        {% else %}
                                        <h6>COMPLET</h6>

                                        <style>

                                            h6  {
                                                color: red;
                                            }
                                        </style>
                                    {% endif%}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col">
                        <div class="courses_button trans_200"><a href="create">Add an event</a></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Team -->



    <!-- Newsletter -->

    <div class="newsletter">
        <div class="newsletter_background parallax-window" data-parallax="scroll" data-image-src="{{ asset('images/newsletter.jpg') }}" data-speed="0.8"></div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="newsletter_container d-flex flex-lg-row flex-column align-items-center justify-content-start">

                        <!-- Newsletter Content -->
                        <div class="newsletter_content text-lg-left text-center">
                            <div class="newsletter_title">sign up for news and offers</div>
                            <div class="newsletter_subtitle">Subcribe to lastest smartphones news & great deals we offer</div>
                        </div>

                        <!-- Newsletter Form -->
                        <div class="newsletter_form_container ml-lg-auto">
                            <form action="#" id="newsletter_form" class="newsletter_form d-flex flex-row align-items-center justify-content-center">
                                <input type="email" class="newsletter_input" placeholder="Your Email" required="required">
                                <button type="submit" class="newsletter_button">subscribe</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->

    <footer class="footer">
        <div class="footer_background" style="background-color: black"></div>
        <div class="container">
            <div class="row footer_row">
                <div class="col">
                    <div class="footer_content">
                        <div class="row">

                            <div class="col-lg-3 footer_col">

                                <!-- Footer About -->
                                <div class="footer_section footer_about">
                                    <div class="footer_logo_container">
                                        <div class="logo_container">
                                            <!--  <a href="#">
                                                  <div class="logo_text">Unic<span>at</span></div>
                                              </a>-->
                                            <img src="{{ asset('images/thinklance2.png') }}" height="60" width="150">
                                        </div>
                                    </div>
                                    <div class="footer_about_text">
                                        <p>Lorem ipsum dolor sit ametium, consectetur adipiscing elit.</p>
                                    </div>
                                    <div class="footer_social">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-3 footer_col">

                                <!-- Footer Contact -->
                                <div class="footer_section footer_contact">
                                    <div class="footer_title">Contact Us</div>
                                    <div class="footer_contact_info">
                                        <ul>
                                            <li>Email: Info.deercreative@gmail.com</li>
                                            <li>Phone:  +(88) 111 555 666</li>
                                            <li>40 Baria Sreet 133/2 New York City, United States</li>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-3 footer_col">

                                <!-- Footer links -->
                                <div class="footer_section footer_links">
                                    <div class="footer_title">Contact Us</div>
                                    <div class="footer_links_container">
                                        <ul>
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="about.html">About</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a href="#">Features</a></li>
                                            <li><a href="courses.html">Courses</a></li>
                                            <li><a href="#">Events</a></li>
                                            <li><a href="#">Gallery</a></li>
                                            <li><a href="#">FAQs</a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-3 footer_col clearfix">

                                <!-- Footer links -->
                                <div class="footer_section footer_mobile">
                                    <div class="footer_title">Mobile</div>
                                    <div class="footer_mobile_content">
                                        <div class="footer_image"><a href="#"><img src="{{ asset('images/mobile_1.png') }}" alt=""></a></div>
                                        <div class="footer_image"><a href="#"><img  src="{{ asset('images/mobile_2.png') }}" alt=""></a></div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row copyright_row">
                <div class="col">
                    <div class="copyright d-flex flex-lg-row flex-column align-items-center justify-content-start">
                        <div class="cr_text"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="{{ asset('https://colorlib.com') }}" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
                        <div class="ml-lg-auto cr_links">
                            <ul class="cr_list">
                                <li><a href="#">Copyright notification</a></li>
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<!--End Footer -->
<!--Login-->

<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                LOGIN
            </div>
        </div>
    </div>
</div>

<!-- End Login-->

<!--Register-->

<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                REGISTER
            </div>
        </div>
    </div>
</div>

<!--End Register-->

<script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
<script  src="{{ asset('styles/bootstrap4/popper.js') }}"></script>
<script src="{{ asset('styles/bootstrap4/bootstrap.min.js') }}"></script>
<script src="{{ asset('plugins/greensock/TweenMax.min.js') }}"></script>
<script  src="{{ asset('plugins/greensock/TimelineMax.min.js') }}"></script>
<script  src="{{ asset('plugins/scrollmagic/ScrollMagic.min.js') }}"></script>
<script src="{{ asset('plugins/greensock/animation.gsap.min.js') }}"></script>
<script  src="{{ asset('plugins/greensock/ScrollToPlugin.min.js') }}"></script>
<script src="{{ asset('plugins/OwlCarousel2-2.2.1/owl.carousel.js') }}"></script>
<script  src="{{ asset('plugins/easing/easing.js') }}"></script>
<script   src="{{ asset('plugins/parallax-js-master/parallax.min.js') }}"></script>
<script  src="{{ asset('js/custom.js') }}"></script>
</body>
</html>