<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/bootstrap4/bootstrap.min.css') }}">
    <link href="{{ asset('plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/OwlCarousel2-2.2.1/owl.carousel.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/OwlCarousel2-2.2.1/owl.theme.default.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/OwlCarousel2-2.2.1/animate.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/main_styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/responsive.css') }}">

</head>
<body>

<div>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {#{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}
        <!-- Header Content -->
        <div class="header_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="header_content d-flex flex-row align-items-center justify-content-start">
                            <div class="logo_container">
                                <!--  <a href="#">
                                      <div class="logo_text">Unic<span>at</span></div>
                                  </a>-->
                                <img src="{{ asset('images/thinklance2.png') }}" height="100" width="170">
                            </div>
                            <nav class="main_nav_contaner ml-auto">
                                <ul class="main_nav">
                                    {#<li><a href="about.html">About</a></li>
                                    <li><a href="courses.html">Courses</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="#">Page</a></li>
                                    <li><a href="contact.html">Contact</a></li>#}
                                    <li>
                                        <a href="{{ path('fos_user_profile_show') }}">{{ app.user.username | capitalize }}</a>
                                    </li>

                                    <li class="active"><a href="{{ path('auth_homepage') }}">Accueil</a></li>



                                    <li><a href="{{ path('fos_user_security_logout') }}">
                                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                        </a>
                                    </li>

                                </ul>
                                <div class="search_button"><i class="fa fa-search" aria-hidden="true"></i></div>
                                <!-- Hamburger -->
                                <div class="hamburger menu_mm">
                                    <i class="fa fa-bars menu_mm" aria-hidden="true"></i>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Content -->
    {% else %}
        <!-- Header Content -->
        <div class="header_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="header_content d-flex flex-row align-items-center justify-content-start">
                            <div class="logo_container">
                                <!--  <a href="#">
                                      <div class="logo_text">Unic<span>at</span></div>
                                  </a>-->
                                <img src="{{ asset('images/thinklance2.png') }}" height="100" width="170">
                            </div>
                            <nav class="main_nav_contaner ml-auto">
                                <ul class="main_nav">

                                    <li class="active"><a href="{{ path('forum_homepage') }}">Accueil</a></li>
                                    {#<li><a href="about.html">About</a></li>
                                    <li><a href="courses.html">Courses</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="#">Page</a></li>
                                    <li><a href="contact.html">Contact</a></li>#}


                                    <li><a href="{{ path('read') }}" {#data-toggle="modal" #}
                                           data-target="#exampleModalCenter2">Forum</a></li>

                                    <li><a href="{{ path('read_article') }}" {#data-toggle="modal" #}
                                           data-target="#exampleModalCenter2">Blog</a></li>

                                    <li><a href="{{ path('fos_message_inbox') }}" {#data-toggle="modal" #}
                                           data-target="#exampleModalCenter2">Messagerie</a></li>
                                    <li><a href="{{ path('fos_user_registration_register') }}" {#data-toggle="modal" #}
                                           data-target="#exampleModalCenter2">S'inscrire</a></li>

                                    <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                    </li>
                                </ul>
                                <div class="search_button"><i class="fa fa-search" aria-hidden="true"></i></div>
                                <!-- Hamburger -->
                                <div class="hamburger menu_mm">
                                    <i class="fa fa-bars menu_mm" aria-hidden="true"></i>
                                </div>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Content -->
    {% endif %}
</div>

<div style="width: 500px; height: 420px; text-align: center; border-radius: 4px; margin: 0 auto; margin-top: 30px; margin-bottom: 20px;>
    <div style="margin-left: 50px">
<!--Section heading-->
<h2 class="h1-responsive font-weight-bold text-center my-4">Chercher une question</h2>
<!--Section description-->



<div style="padding-left: 5px; padding-right: 30px;padding-top: -40px;margin-top: 0px">
    <form method="get" >
    <table class="table table-borderless">
        <thead>
        <tr>
            <th scope="col">  <input class="form-control mx-auto" style="width: 200px;" type="search" placeholder="La Question" name="contenu" aria-label="Search"> </a></th>
            <th scope="col">  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="chercher">Chercher</button> </a></th>


        </tr>
        </thead>


    </table>

    </form>





        <a href="{{ path('read') }}" {#data-toggle="modal" #}
           data-target="#exampleModalCenter2" class="btn btn-danger">retour</a></li>






</div>

</div>


<footer class="page-footer " style="background: black">


    <div class="logo_container">
        <img src="{{ asset('images/thinklance2.png') }}" height="100" width="170">
    </div>


</footer>

<!-- Footer -->
</body>
</html>
















