<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/bootstrap4/bootstrap.min.css') }}">
    <link href="{{ asset('plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/OwlCarousel2-2.2.1/owl.carousel.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/OwlCarousel2-2.2.1/owl.theme.default.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/OwlCarousel2-2.2.1/animate.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/main_styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/responsive.css') }}">
    <title>Actualités</title>
</head>
<header class="header">
    <!-- Header Content -->
    <div class="header_container" style="position: fixed;">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header_content d-flex flex-row align-items-center justify-content-start">
                        <div class="logo_container">
                            <img src="{{ asset('images/thinklance2.png') }}" height="60" width="150">
                        </div>
                        <nav class="main_nav_contaner ml-auto">
                            <ul class="main_nav">
                                <li>
                                    <a href="{{ path('fos_user_profile_show') }}">{{ app.user.username | capitalize }}</a>
                                </li>
                                <li class="active"><a href="{{ path('auth_homepage') }}">Accueil</a></li>
                                <li class="active"><a href="{{ path('liste_paiements') }}">Paiements</a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}">
                                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                    </a>
                                </li>
                            </ul>
                            {#<div class="search_button"><i class="fa fa-search" aria-hidden="true"></i></div>#}
                            <!-- Hamburger -->
                            <div class="hamburger menu_mm">
                                <i class="fa fa-bars menu_mm" aria-hidden="true"></i>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Content -->
</header>
<body>
<div class="team_background parallax-window" data-parallax="scroll"
     data-image-src="{{ asset('images/team_background.jpg') }}" data-speed="0.8"></div>
<div class="courses">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card col-xs-12 col-md-12 hidden-xs hidden-sm">
                    <div class="card-body">
                        <div class="section_title_container text-center">
                            <h3 class="section_title">Actualités</h3>
                            <div class="section_subtitle"><br></div>
                        </div>
                        <!-- Acutalités -->
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-tech"
                                   role="tab" aria-controls="nav-home" aria-selected="true">Tech</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-prog"
                                   role="tab" aria-controls="nav-profile" aria-selected="false">Programmation /
                                    Applications</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-freelance"
                                   role="tab" aria-controls="nav-contact" aria-selected="false">Freelance</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tech">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                 aria-labelledby="nav-home-tab">
                                <div class="row courses_row">
                                    {% for actTech in tech %}
                                        <div class="col-lg-4 course_col">
                                            <div class="course">
                                                <div class="course_image"><img src="{{ asset(actTech.urlToImage) }}"
                                                                               alt=""></div>
                                                <div class="course_body">
                                                    <h3 class="course_title"><a
                                                                href="{{ actTech.url }}">{{ actTech.title }}</a></h3>
                                                    <div class="course_teacher">{{ actTech.author }}</div>
                                                    <div class="course_text">
                                                        <p>{{ actTech.description }}</p>
                                                    </div>
                                                </div>
                                                <div class="course_footer">
                                                    <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                                                        <div>{{ actTech.publishedAt | date("d/m/Y H:i") }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-prog" role="tabpanel"
                                 aria-labelledby="nav-profile-tab">
                                <div class="row courses_row">
                                    {% for act in prog %}
                                        <div class="col-lg-4 course_col">
                                            <div class="course">
                                                <div class="course_image"><img src="{{ asset(act.urlToImage) }}" alt="">
                                                </div>
                                                <div class="course_body">
                                                    <h3 class="course_title"><a href="{{ act.url }}">{{ act.title }}</a>
                                                    </h3>
                                                    <div class="course_teacher">{{ act.author }}</div>
                                                    <div class="course_text">
                                                        <p>{{ act.description }}</p>
                                                    </div>
                                                </div>
                                                <div class="course_footer">
                                                    <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                                                        <div>{{ act.publishedAt | date("d/m/Y H:i") }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-freelance" role="tabpanel"
                                 aria-labelledby="nav-contact-tab">
                                <div class="row courses_row">
                                    {% for act in freelance %}
                                        <div class="col-lg-4 course_col">
                                            <div class="course">
                                                <div class="course_image"><img src="{{ asset(act.urlToImage) }}" alt="">
                                                </div>
                                                <div class="course_body">
                                                    <h3 class="course_title"><a href="{{ act.url }}">{{ act.title }}</a>
                                                    </h3>
                                                    <div class="course_teacher">{{ act.author }}</div>
                                                    <div class="course_text">
                                                        <p>{{ act.description }}</p>
                                                    </div>
                                                </div>
                                                <div class="course_footer">
                                                    <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                                                        <div>{{ act.publishedAt | date("d/m/Y H:i") }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- End Acutalités -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('styles/bootstrap4/popper.js') }}"></script>
<script src="{{ asset('styles/bootstrap4/bootstrap.min.js') }}"></script>
<script src="{{ asset('plugins/greensock/TweenMax.min.js') }}"></script>
<script src="{{ asset('plugins/greensock/TimelineMax.min.js') }}"></script>
<script src="{{ asset('plugins/scrollmagic/ScrollMagic.min.js') }}"></script>
<script src="{{ asset('plugins/greensock/animation.gsap.min.js') }}"></script>
<script src="{{ asset('plugins/greensock/ScrollToPlugin.min.js') }}"></script>
<script src="{{ asset('plugins/OwlCarousel2-2.2.1/owl.carousel.js') }}"></script>
<script src="{{ asset('plugins/easing/easing.js') }}"></script>
<script src="{{ asset('plugins/parallax-js-master/parallax.min.js') }}"></script>
<script src="{{ asset('js/custom.js') }}"></script>