<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gestion Stagaires - Dashboard</title>

    <link  href="{{ asset("base2/css/bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{asset( "base2/css/datepicker3.css")}} rel="stylesheet">
    <link href="{{ asset("base2/css/styles.css" ) }}"rel="stylesheet">

    <!--Icons-->
    <script src="{{ asset("base2/js/lumino.glyphs.js") }}"></script>

    <script src="{{ asset("base2/js/html5shiv.js") }}"></script>
    <script src="{{ asset("base2/js/respond.min.js") }}"> </script>

</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span>Gestion Stagaires</span>Admin</a>
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> User <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Profile</a></li>
                        <li><a href="#"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Settings</a></li>
                        <li><a href="#"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a></li>
                    </ul>
                </li>
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked flag"><use xlink:href="#stroked-flag"/></svg> Notification <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li> {% for r in notif %}


                                <div class="container" style="width: 100px; text-decoration-color: #721c24; margin-left: -3px;" >
                                    nouvelle réclamation<br>
                                  Sujet:  {{ r.title}}<br>



                                    <hr color="blue">
                                </div>
                            {% endfor %}</li>

                    </ul>
                </li>
            </ul>
        </div>

    </div><!-- /.container-fluid -->
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <form role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </form>
    <ul class="nav menu">
        <li><a href="index.html"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a></li>
        <li class="active"><a href="widgets.html"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg> Events</a></li>
        <li><a href="charts.html"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Charts</a></li>
        <li><a href="tables.html"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg> Tables</a></li>
        <li><a href="forms.html"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg> Forms</a></li>
        <li><a href="panels.html"><svg class="glyph stroked app-window"><use xlink:href="#stroked-app-window"></use></svg> Alerts &amp; Panels</a></li>
        <li><a href="icons.html"><svg class="glyph stroked star"><use xlink:href="#stroked-star"></use></svg> Icons</a></li>
        <a href="#">
            <span data-toggle="collapse" href="#sub-item-1"><svg class="glyph stroked chevron-down"><use xlink:href="#stroked-chevron-down"></use></svg></span> Réclamation
        </a>
        <ul class="children collapse" id="sub-item-1">
            <li>
                <a class="" href="{{ path('reclamationR') }}">
                    <svg class="glyph stroked chevron-right"></svg> Les reclamations
                </a>
            </li>
            <li>
                <a class="" href="{{ path('reclamationC') }}">
                    <svg class="glyph stroked chevron-right"></svg>Les categories des reclamation
                </a>
            </li>

        </ul>
        </li>
        <li role="presentation" class="divider"></li>
        <li><a href="login.html"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Login Page</a></li>
    </ul>

</div><!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
            <li class="active">Icons</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" style="margin-left: 250px" >Modifier Les catégories des reclamations</h1>
        </div>
    </div><!--/.row-->


    <div style="width: 500px; height: 420px; text-align: center; border-radius: 4px; margin: 0 auto; margin-top: 30px; margin-bottom: 20px;">
        <div style="margin-left: 40px">
            <h2 class="h1-responsive font-weight-bold text-center my-4">Ajout Catégorie</h2>
            <!--Section description-->



            <div style="padding-left: 5px; padding-right: 30px;padding-top: -40px;margin-top: 0px">
                {{ form_start(f,{'attr':{'novalidate' : 'novalidate'}}) }}


                <div class="form-group">
                    {{ form_label(f.nomC,"nom du catégorie") }}
                    {{ form_widget(f.nomC,{'attr':{'class':'form-control'}}) }}
                    {{ form_errors(f.nomC) }}
                </div>

                <div class="form-group">
                    {{ form_label(f.descriptionC,"Déscription") }}
                    {{ form_widget(f.descriptionC,{'attr':{'class':'form-control'}}) }}
                    {{ form_errors(f.descriptionC) }}
                </div>
            </div>
            {{ form_widget(f) }}
            <button class="btn btn-primary">Ajouter Categorie</button>
            {{ form_end(f) }}

        </div>
    </div>


<script src="{{ asset("base2/js/jquery-1.11.1.min.js") }}"></script>
<script src="{{ asset("base2/js/bootstrap.min.js") }}"></script>
<script src="{{ asset("base2/js/chart.min.js") }}"></script>
<script src="{{ asset("base2/js/chart-data.js") }}"></script>
<script src="{{ asset("base2/js/easypiechart.js") }}"></script>
<script src="{{ asset("base2/js/easypiechart-data.js") }}"></script>
<script src="{{ asset("base2/js/bootstrap-datepicker.js") }}"></script>
<script>
    $('#calendar').datepicker({
    });

    !function ($) {
        $(document).on("click","ul.nav li.parent > a > span.icon", function(){
            $(this).find('em:first').toggleClass("glyphicon-minus");
        });
        $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
    }(window.jQuery);

    $(window).on('resize', function () {
        if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
    })
    $(window).on('resize', function () {
        if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
    })
</script>
</body>

</html>