<!DOCTYPE html>
<html>


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="CreativeLayers">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="{{ asset('lol/css/bootstrap-grid.css') }}"/>
    <link rel="stylesheet" href="{{ asset('lol/css/icons.css') }}"/>
    <link rel="stylesheet" href="{{ asset('lol/css/animate.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('lol/css/style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('lol/css/responsive.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('lol/css/chosen.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('lol/css/colors/colors.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('lol/css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ asset('lol/lol/css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/bootstrap4/bootstrap.min.css') }}">
    <link href="{{ asset('plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/OwlCarousel2-2.2.1/owl.carousel.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/OwlCarousel2-2.2.1/owl.theme.default.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/OwlCarousel2-2.2.1/animate.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/main_styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/responsive.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}"/>


</head>
<body>




    <header class="header">
        <div class="top_bar bg-white">
            <div class="top_bar_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
                                <ul class="top_bar_contact_list">

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% block header %}

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {% if (is_granted('ROLE_FREELANCER')) %}
                <header class="stick-top bg-white">
                    <div class="menu-sec">
                        <div class="container">
                            <div class="res-logo">
                                <a href="index.html" title=""><img src="{{ asset('images/thinklance2.png') }}"
                                                                   height="60" width="90" alt=""/></a>
                            </div><!-- Logo -->
                            <div class="btns-profiles-sec">
                                    <span><img src="{{ asset('images1/') }}{{ app.user.nomImage }}" height="50px"
                                               width="50px" alt=""/>  <a
                                                style="color: black;font-family:'Roboto Slab';font-weight: bold;font-size: 15px">{{ app.user.username | capitalize }} {{ app.user.firstname | capitalize }}</a> <i
                                                class="la la-angle-down"
                                                style="color: black;font-size: 20px"></i></span>

                                <ul>

                                    <li><a href="#" title=""><i class="la la-user"></i>Mon Profil</a></li>

                                    <li><a href="{{ path('fos_user_security_logout') }}">
                                            <i class="la la-history"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                        </a>
                                    </li>
                                    <li>
                                        <div style="padding: 20px;border-top: 1px solid #e8ecec">

                                            <p>Envie de travailler?</p>
                                            <a href="{{ path('create_profile_page') }}" title=""> Créer mon profil
                                                Freelance</a>
                                        </div>
                                    </li>
                                </ul>

                            </div>

                            <div class="wishlist-dropsec">
                                <span><i class="la la-bell" style="color: black;font-size: 30px"></i></span>
                                <div class="wishlist-dropdown">
                                    <ul class="scrollbar">
                                        {{ render(controller('ProfileBundle:Default:displayNotification')) }}

                                    </ul>
                                </div>
                            </div>

                            <nav class="main_nav_contaner ml-auto">
                                <ul class="main_nav">

                                    <li class="menu-item-has-children">
                                        <a href="#" title="" style="color:black">Mes Participations</a>
                                        <ul>
                                            <li><a class="dropdown-item" href="{{ path('read_even') }}">Lister
                                                    les evenements</a></li>

                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">

                                        <a href="#" title="" style="color:black">Communication</a>
                                        <ul>
                                            <li><a href="{{ path('liste_articles') }}" title="">Liste des articles</a></li>
                                            <li><a href="{{ path('mes_articles') }}" title="">Mes Articles</a></li>
                                            <li><a href="{{ path('actualite_homepage') }}" title="">Actualités</a></li>
                                            <li><a href="{{ path('forum_homepage') }}" title="">Forum</a></li>
                                            <li><a href="{{ path('fos_message_inbox') }}" title="">Messagerie</a></li>

                                        </ul>
                                    </li>
                                    {#   <li> <a>Messagerie</a> </li>#}
                                    <li></li>
                                    <li class="menu-item-has-children">

                                        <a href="#" title="" style="color:black">Paiements</a>
                                        <ul>
                                            <li><a href="{{ path('liste_paiements') }}" title="">Mes paiements</a></li>
                                            <li><a href="{{ path('statistiques') }}" title="">Statistiques</a></li>

                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">

                                        <a href="#" title="" style="color:black">Mes Réclamations</a>
                                        <ul>

                                            <li><a class="dropdown-item" href="{{ path('reclamation_affiche') }}">Lister
                                                    les réclamations</a></li>
                                            <li><a class="dropdown-item" href="{{ path('reclamation_ajout') }}">effectuer
                                                    une réclamation</a></li>

                                        </ul>
                                    </li>


                                </ul>

                                <!-- Hamburger -->
                                <div class="hamburger menu_mm">
                                    <i class="fa fa-bars menu_mm" aria-hidden="true"></i>
                                </div>
                            </nav>


                            <!-- Menus -->
                        </div>
                    </div>
                </header>
            {% else %}
                <!-- User Employeur-->

                <header class="stick-top bg-white">
                    <div class="menu-sec">
                        <div class="container">
                            <div class="res-logo">
                                <a href="index.html" title=""><img src="{{ asset('images/thinklance2.png') }}"
                                                                   height="60" width="120" alt=""/></a>
                            </div><!-- Logo -->
                            <div class="btns-profiles-sec">
                                    <span><img src="{{ asset('images1/') }}{{ app.user.nomImage }}" height="50px"
                                               width="50px" alt=""/>  <a
                                                style="color: black;font-family:'Roboto Slab';font-weight: bold;font-size: 15px">{{ app.user.username | capitalize }} {{ app.user.firstname | capitalize }}</a> <i
                                                class="la la-angle-down"
                                                style="color: black;font-size: 20px"></i></span>

                                <ul>

                                    <li><a href="#" title=""><i class="la la-user"></i>Mon Profil</a></li>

                                    <li><a href="{{ path('fos_user_security_logout') }}">
                                            <i class="la la-history"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                        </a>
                                    </li>
                                    <li>
                                        <div style="padding: 20px;border-top: 1px solid #e8ecec">

                                            <p>Envie de travailler?</p>
                                            <a href="{{ path('employeur_create_profile') }}" title=""> Créer mon profil
                                                Employeur</a>
                                        </div>
                                    </li>
                                </ul>

                            </div>

                            <div class="wishlist-dropsec">
                                <span><i class="la la-bell" style="color: black;font-size: 30px"></i></span>
                                <div class="wishlist-dropdown">
                                    <ul class="scrollbar">
                                        {# {{ render(controller('ProjetBundle:Demande:demanderProjet')) }}#}

                                    </ul>
                                </div>
                            </div>
                            <nav class="main_nav_contaner ml-auto">
                                <ul class="main_nav">

                                    <li class="menu-item-has-children">
                                        <a href="#" title="" style="color:black">Mes Participations</a>
                                        <ul>
                                            <li><a class="dropdown-item" href="{{ path('read_even') }}">Lister
                                                    les evenements</a></li>

                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">

                                        <a href="#" title="" style="color:black">Communication</a>
                                        <ul>
                                            <li><a href="{{ path('liste_articles') }}" title="">Liste des articles</a></li>
                                            <li><a href="{{ path('mes_articles') }}" title="">Mes Articles</a></li>
                                            <li><a href="{{ path('actualite_homepage') }}" title="">Actualités</a></li>
                                            <li><a href="{{ path('forum_homepage') }}" title="">Forum</a></li>
                                            <li><a href="{{ path('fos_message_inbox') }}" title="">Messagerie</a></li>

                                        </ul>
                                    </li>
                                    {#   <li> <a>Messagerie</a> </li>#}
                                    <li></li>
                                    <li class="menu-item-has-children">

                                        <a href="#" title="" style="color:black">Paiements</a>
                                        <ul>
                                            <li><a href="{{ path('liste_paiements') }}" title="">Mes paiements</a></li>
                                            <li><a href="{{ path('statistiques') }}" title="">Statistiques</a></li>

                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">

                                        <a href="#" title="" style="color:black">Mes Réclamations</a>
                                        <ul>

                                            <li><a class="dropdown-item" href="{{ path('reclamation_affiche') }}">Lister
                                                    les réclamations</a></li>
                                            <li><a class="dropdown-item" href="{{ path('reclamation_ajout') }}">effectuer
                                                    une réclamation</a></li>

                                        </ul>
                                    </li>


                                </ul>

                                <!-- Hamburger -->
                                <div class="hamburger menu_mm">
                                    <i class="fa fa-bars menu_mm" aria-hidden="true"></i>
                                </div>
                            </nav>


                            <!-- Menus -->
                        </div>
                    </div>
                </header>


            {% endif %}
        {% else %}
            <!-- Header Content -->
            <div class="header_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="header_content d-flex flex-row align-items-center justify-content-start">
                                <div class="logo_container">
                                    <!--  <a href="#">
                                          <div class="logo_text">Unic<span>at</span></div>
                                      </a>-->
                                    <img src="{{ asset('images/thinklance2.png') }}" height="60" width="90">
                                </div>
                                <nav class="main_nav_contaner ml-auto">
                                    <ul class="main_nav">
                                        <li class="active"><a href="{{ path('auth_homepage') }}">Accueil</a></li>
                                        {#<li><a href="about.html">About</a></li>
                                        <li><a href="courses.html">Courses</a></li>
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="#">Page</a></li>
                                        <li><a href="contact.html">Contact</a></li>#}
                                        <li>
                                            <a href="{{ path('fos_user_registration_register') }}" {#data-toggle="modal" #}
                                               data-target="#exampleModalCenter2">S'inscrire</a></li>

                                        <li>
                                            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                        </li>
                                    </ul>
                                    <div class="search_button"><i class="fa fa-search" aria-hidden="true"></i></div>
                                    <!-- Hamburger -->
                                    <div class="hamburger menu_mm">
                                        <i class="fa fa-bars menu_mm" aria-hidden="true"></i>
                                    </div>
                                </nav>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Header Content -->
        {% endif %}


        <div class="responsive-header">
            <div class="responsive-menubar">
                <div class="res-logo"><a href="index.html" title=""><img
                                src="{{ asset('images/resource/logo.png') }}" alt=""/></a></div>
                <div class="menu-resaction">
                    <div class="res-openmenu">
                        <img src="{{ asset('images/icon.png') }}" alt=""/> Menu
                    </div>
                    <div class="res-closemenu">
                        <img src="{{ asset('images/icon2.png') }}" alt=""/> Close
                    </div>
                </div>
            </div>
            <div class="responsive-opensec">
                <div class="btn-extars">
                    <a href="#" title="" class="post-job-btn"><i class="la la-plus"></i>Post Jobs</a>
                    <ul class="account-btns">
                        <li class="signup-popup"><a title=""><i class="la la-key"></i> Sign Up</a></li>
                        <li class="signin-popup"><a title=""><i class="la la-external-link-square"></i> Login</a>
                        </li>
                    </ul>
                </div><!-- Btn Extras -->
                <form class="res-search">
                    <input type="text" placeholder="Job title, keywords or company name"/>
                    <button type="submit"><i class="la la-search"></i></button>
                </form>
                <div class="responsivemenu">
                    <ul>
                        <li class="menu-item-has-children">
                            <a href="#" title="">Home</a>
                            <ul>
                                <li><a href="index.html" title="">Home Layout 1</a></li>
                                <li><a href="index2.html" title="">Home Layout 2</a></li>
                                <li><a href="index3.html" title="">Home Layout 3</a></li>
                                <li><a href="index4.html" title="">Home Layout 4</a></li>
                                <li><a href="index5.html" title="">Home Layout 5</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}

    <section class="overlape">
        <div class="block no-padding">
            <div data-velocity="-.1"
                 style="background: url({{ asset('images1/') }}{{ user.nomImage }} )   repeat scroll 50% 422.28px transparent;"
                 class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->

            <div class="container fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-header" style="background-color: #14bdee">
                            <div class="container">

                                <div class="row">


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="overlape">
        <div class="block remove-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12">
                        <div class="cand-single-user">

                            <div class="share-bar">
                             {{ socialButtons( {'googleplus':false, 'facebook':false, 'linkedin':false} ) }}
                              {#  {{ twitterButton() }}#}
                            </div>
                            <div class="can-detail-s">
                                <div class="cst"><img src="{{ asset('images1/') }}{{ user.nomImage }}" height="150px"
                                                      alt=""/></div>
                                <h3>{{ user.username }}  {{ user.firstname }}</h3>
                                <span><i>{{ user.titreProfile }}</i></span>
                                <p>{{ user.email }}</p>
                                <p><i class="la la-map-marker"></i>{{ user.ville }} / {{ user.pays }}</p>

                                <div class="skills-badge">
                                    {% for comp in competences %}
                                        <span>{{ comp.nomTag }}</span>
                                    {% endfor %}
                                </div>

                                <center>
                                    <div>
                                        <div class="col-sm-8">
                                            <div class="card" style="width: 12rem;border-color: #0b1b46">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item" style="background-color: #edeff7"><p style="font-weight: bold;size: 15px">
                                                            Tarif indicatif</p>{{ user.tarifMoyen }}/Jour
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </center>


                                <div>


                                    {% if app.user.disponibilite==true %}

                                            <div class="skills-badge">
                                                <div class="skills-badge">
                                                <span style="background-color:#343a5e ;color: white"><i
                                                            class="la la-adjust" style="color: #1fde91;"></i>indisponible</span>
                                                </div>
                                            </div>

                                    {% else %}

                                            <div class="skills-badge">
                                                <div class="skills-badge">
                                                <span style="background-color:#343a5e ;color: white"><i
                                                            class="la la-stumbleupon"
                                                            style="color: #1fde91;"></i>disponible</span>
                                                </div>
                                            </div>

                                    {% endif %}
                                </div>
                            </div>


                            <div class="download-cv">
                                <div class="job-single-head style2">
                                    {% if note>=100 %}
                                        <h4> Bronze Badge</h4>
                                        <div class="job-thumb" style="padding: 20px"><img
                                                    src="{{ asset("images/Bronze.png") }}" height="120px" width="70px"/>
                                        </div>
                                    {% elseif  note>200 %}
                                        <h4> Silver Badge</h4>
                                        <div class="job-thumb" style="padding: 20px"><img
                                                    src="{{ asset("images/silver.png") }}" height="120px" width="70px"/>
                                        </div>
                                    {% elseif note>500 %}
                                        <h4> Gold Badge</h4>
                                        <div class="job-thumb" style="padding: 20px"><img
                                                    src="{{ asset("images/Gold.png") }}" height="120px" width="70px"/>
                                        </div>
                                    {% endif %}


                                    {#   <a href="#" title="" class="apply-job-btn"><i class="la la-paper-plane"></i>Réclamer</a>#}

                                </div>

                            </div>

                        </div>

                        <div class="cand-details-sec">
                            <div class="row no-gape">
                                <div class="col-lg-9 column">
                                    <div class="cand-details">
                                        <div class="job-overview style2">
                                            <ul>
                                                <li>

                                                    <h4>Note</h4>
                                                    <p>{{ note|rating }}</p>

                                                    <p>({{ note |round(1, 'floor') }})/5</p>

                                                </li>


                                            </ul>
                                        </div><!-- Job Overview -->
                                        <div class="border-title" id="portfolio"><h3>Description</h3></div>
                                        <br>
                                        <p>{{ user.description }} </p>
                                        <div class="border-title" id="portfolio"><h3>Formations</h3></div>
                                        <div class="edu-history-sec">

                                            <div class="edu-history-sec">
                                                {% for forma in formations %}
                                                    <div class="edu-history">
                                                        <i class="la la-graduation-cap"></i>


                                                        <div class="edu-hisinfo">
                                                            <h3>{{ forma.titre }}</h3>
                                                            <i>{{ forma.dateDebut|date }} - {{ forma.dateFin|date }}</i>
                                                            <span>{{ forma.institution }} </span>
                                                            <p>{{ forma.description }}</p>
                                                        </div>

                                                    </div>
                                                {% endfor %}

                                            </div>

                                        </div>
                                        <div class="border-title" id="portfolio"><h3>Expériences Professionnelles</h3>
                                        </div>
                                        <div class="edu-history-sec" id="experience">
                                            {% for exp in experiences %}

                                                <div class="edu-history style2">
                                                    <i></i>
                                                    <div class="edu-hisinfo">


                                                        <h3>{{ exp.titreExp }} <span>{{ exp.entreprise }}</span></h3>
                                                        <i>{{ exp.dateDebut|date }}- {{ exp.dateFin|date }}</i>
                                                        <p>{{ exp.description }}</p>


                                                    </div>

                                                </div>
                                            {% endfor %}

                                        </div>
                                        <div class="border-title" id="portfolio"><h3>Portfolio</h3></div>
                                        <div class="mini-portfolio">

                                            {% for port in portfolios %}
                                                <div class="mp-row">
                                                    <div class="mp-col">
                                                        <div class="mportolio"><img
                                                                    src ="{{ asset('images1/') }}{{ port.nomImage }}"
                                                                    style="height: 170px;width: 200px" alt=""/><a
                                                                    title=""><i
                                                                        class="la la-search"></i></a></div>
                                                        <ul class="action_job">


                                                        </ul>
                                                    </div>


                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="border-title" id="portfolio"><h3>Langue</h3><br>
                                            <div class="edu-history-sec" style="padding: 20px">
                                                {% for l in langues %}
                                                    <div class="edu-history style2">
                                                        <i></i>
                                                        <div class="edu-hisinfo">
                                                            <h3>{{ l.langueTitre }}</h3>

                                                        </div>

                                                    </div>
                                                {% endfor %}

                                            </div>
                                            <div class="border-title" id="portfolio"><h3>Liste des commentaires</h3><br>
                                                {% for com in commentaires %}

                                                    <div class="emply-list-sec style2">
                                                        <div class="emply-list">
                                                            <div class="emply-list-thumb">
                                                                <a href="#" title=""><img
                                                                            src="{{ asset('images1/') }}{{ com.user.nomImage }}"
                                                                            alt=""/></a>
                                                            </div>
                                                            <div class="emply-list-info">
                                                                {% set difference=date(com.dateAjout).diff(date(date)) %}

                                                                <div class="emply-pstn">il y
                                                                    a {{ difference |date }}</div>
                                                                <h3><a href="#" title="">{{ com.user.username }}</a>
                                                                </h3>
                                                                <h6><i class="la la-map-marker"></i> {{ com.user.pays }}
                                                                    , {{ com.user.ville }}</h6>
                                                                <p>{{ com.contenu }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                                {% if paiement !=null %}

                                                    {{ form_start(form2) }}

                                                    <div class="job-overview style2">
                                                        <ul>
                                                            <li></i><h3>Qualité du travail</h3>
                                                                <span>   {{ form_widget(form2.silver.png) }}</span>
                                                            </li>
                                                            <li><h3>Communication</h3>
                                                                <span>{{ form_widget(form2.ratingCommunication) }}</span>
                                                            </li>
                                                            <li><h3>Respect des délais</h3>
                                                                <span>{{ form_widget(form2.ratingRespectDelais) }}</span>
                                                            </li>
                                                        </ul>
                                                        <div class="col-lg-12">
                                                            <button type="submit">Soumettre</button>
                                                        </div>
                                                    </div>

                                                    {{ form_end(form2) }}









                                                    <div class="border-title" id="portfolio"><h3>Commentaires</h3>
                                                        {#                   {% for comment in commentaires %}
                                                                           <div class="col-lg-9 column">
                                                                               <div class="emply-resume-sec">
                                                                                   <div class="emply-resume-list square">

                                                                           <div class="emply-resume-info">
                                                                               <h3><a href="#" title="">{{ comment.user.username }}</a></h3>

                                                                               <p><i ></i>{{ comment.contenu }} </p>
                                                                           </div>
                                                                               </div>
                                                                               </div>
                                                                           </div>
                                                                           {% endfor %}#}
                                                        {{ form_start(form) }}

                                                        <div class="edu-history-sec">

                                                            <div class="col-lg-12">
                                                                <span class="pf-title">Message</span>
                                                                <div class="pf-field">
                                                                    {{ form_widget(form.contenu) }}
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <button type="submit">Poster un commentaire</button>
                                                            </div>


                                                        </div>
                                                        {{ form_end(form) }}


                                                    </div>


                                                {% endif %}
                                            </div>

                                        </div>
                                        {#         <div class="col-lg-3 column">
                                                     <div class="job-overview style3">
                                                         <ul>
                                                             <li><i class="la la-briefcase"></i><h3>Candidates About</h3></li>
                                                             <li><i class="la la-graduation-cap"></i><h3>Education</h3></li>
                                                             <li><i class="la la-file-text"></i><h3>Work Experience</h3></li>
                                                             <li><i class="la la-puzzle-piece"></i><h3>Portfolio</h3></li>
                                                             <li><i class="la la-thumb-tack"></i><h3>Professional Skills</h3></li>
                                                             <li><i class="la la-line-chart "></i><h3>Awards</h3></li>
                                                             <li><i class="la la-user "></i><h3>Companies Followed By</h3></li>
                                                         </ul>
                                                         <a href="#" title="" class="save-resume">Save Resume</a>
                                                         <a href="#" title="" class="contct-user">Contact David</a>
                                                     </div><!-- Job Overview -->
                                                 </div>#}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
    </section>




{# Call NotificationsBundles's assets #}
{{ notifications_assets() }}
<script>
    /**
     * After calling notifications_assets() "pusher" is now available
     * and you can use it this way
     */

        // select the channel you want to listen to
    var channel = pusher.subscribe("notifications");// notifications channel
    channel.bind("my-event", function (data) {
        console.log('from notifications channel', data);
    });

    var channel = pusher.subscribe("messages");// messages channel
    channel.bind("my-event", function (data) {
        console.log('from messages channel', data);
    });
</script>

</div>

{#<script data-cfasync="false" src="{{ asset('lol/../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js') }}"></script>#}
<script src="{{ asset('lol/js/jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('lol/js/modernizr.js') }}" type="text/javascript"></script>
<script src="{{ asset('lol/js/script.js') }}" type="text/javascript"></script>
<script src="{{ asset('lol/js/bootstrap.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('lol/js/wow.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('lol/js/slick.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('lol/js/parallax.js') }}" type="text/javascript"></script>
<script src="{{ asset('lol/js/select-chosen.js') }}" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
{#<script src="{{ asset('lol/js/jquery.scrollbar.min.js') }}" type="text/javascript"></script>#}

</body>


</html>

